/target/
/.idea/
/.venv/
/dumps/
/__pycache__/
*.py[cod]
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.coverage
/htmlcov/
/node_modules/
/playwright-report/
/test-results/
/.env
/Win10_22H2_English_x64v1.iso
/ACTUAL_MALWARE/
/var/
*.egg-info/
*.webm
